@media (min-width: 767.5px) {
    .hide-for-large{
    display: none !important;
  }

}
@media (max-width: 767.6px) {
  .hide-for-mobile{
    display: none !important;
  }
    .carousel-indicators [data-bs-target] {  
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 5px;
    height: 5px;
    padding: 0; 
    margin-right: 5px;
    border-radius: 36px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s 
ease;
}
}
.section {
    margin-left: 10px;
}
.top-brand-banners {
    border-radius: 20px 20px 0px 0px;
    background: antiquewhite;
}
.top-brands{
    background-color: #f3f4f6;
}
.focuse-it{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    background-image: linear-gradient(#fff3e2, #ffffff 14%);
}

.features-section {
    padding: 25px 0px 15px 0px;
    justify-self: center;
    width: 100%;
    position: relative;
}

.offer-sec-two a img {
    border-radius: 10px;
}
section.section.features-section.offers {
    /* background: #fbeaef; */
    width: 100%;
}

.sale-banner.nav-center img {
    border-radius: 11px;
}
.offer-sec {
    .listing-item.offer-list .listing-img {
        padding: 15px;
        margin: 0px;
        border-radius: 4px;
        background-image: linear-gradient(#f95fba, #f6cad9);
    }
}
/*--------------------------- our brands ----------------------------*/

.listing-item.offer-list .listing-img .top-brand-our {
    padding: 5px !important;
    margin: 0px;
    border-radius: 4px;
    background-image: linear-gradient(#f595b1, #f6cad9);
}

.brand-item img {
    max-height: 100%;
}

.owl-carousel .brand-item {
    border: 1px solid gray !important;
    border-radius: 4px;
    background-color: aliceblue;
}

.brand-sec {
    margin-top: 20px;
}

.our-product-brand {
    width: 100%;
     border-radius: 30px 30px 0px 0px;
    background-image: linear-gradient(#daf1fd, #ffffff 14%);
}

.our-letest-product {
    width: 100%;
     border-radius: 30px 30px 0px 0px;
    background-image: linear-gradient(#fedbf9, #ffffff 14%);
}

.our-Stores-product {
    width: 100%;
    background-image: linear-gradient(#ffdfea, #ffffff 14%);
}
@media (max-width: 575.98px) {


.our-Stores-product {
    border-radius: 30px 30px 0px 0px;
}
}
/*---------------------------end our brands-----------------------------*/

/* ----------------------------calegory section------------------------ */
.category-section {
    border-radius: 30px 30px 0px 0px;
}
.category-wrap {
    padding: 0px;
    border-radius: 50%;
}

a.category-wrap.category-images img {
    border-radius: 50%;
}

span.category-text {
    background: #fbffff;
    width: 100%;
    position: absolute;
    bottom: 0px;
    white-space: pre;
    transform: translate(-50%, -0%);
}

.category-wrap h6 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 16px;
}

.category-wrap p {
    font-size: 13px;
    color: #676767;
    font-weight: 500;
    padding: 4px;
}

.category-images img {
    opacity: 1;

    transition: .5s ease;
}

.category-images:hover img {
    opacity: 0.6;
}

@media (max-width: 575.98px) {
    .form-control {
        display: block;
        width: 100%;
        padding: 0px;

    }
}
/* ----------------------------end calegory section------------------------ */
.shadi-letest-product{
    .image-slider {
        background: #ffcad4;
    }
    .shadi-sec {
        /* background-color: #e6b2c9; */
        background-color: #ffcad4;
    }
    .slide-images img {
        border-radius: 50%;
    }
    .container-slider {
        margin-top: 15px;
        margin-left: 15px;
    }
    .product-items {
        color: black;
        font-size: 13px;
        text-align: center;
        padding: 7px;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1370px;
    }
}

.glow-text {
    font-size: 33px;
    font-weight: 800;
    text-align: center;
    /* background: linear-gradient(90deg, #ff6a00, #ff3d00, #ff6a00); */

    background: linear-gradient(90deg, #ff6a00, #962501, #ff9143);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s linear infinite;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }

  /* underline */
  .glow-text::after {
    content: "";
    display: block;
    width: 160px;
    height: 4px;
    background: linear-gradient(90deg, #ff9900, #ff3300);
    margin: 8px auto 13px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.6);
  }
  @media (max-width: 575.98px) {
.glow-text {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .section-heading.heading-three h2 {
    font-size: 20px;
    font-style: oblique;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: capitalize;
}
}