<div class="content dashboard-content">
    <div class="details-grid">
      <header class="css-wn6jwz">
        <span class="css-1gjbxyh">My Wishlist
          <span class="css-1ylarvv"> (4)</span>
        </span>
      </header>
      <div class="rental-deal-slider details-car ">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="rental-car-item">
              <div class="listing-item pb-0">
                <div class="listing-img">
                  <a [routerLink]="routes.listingDetails">
                    <img src="assets/img/product/product-1.avif" class="img-fluid" alt="product" />
                  </a>
                  <div class="fav-item justify-content-end">
                    <a href="javascript:void(0)" class="fav-icon">
                      <i class="feather icon-heart"></i>
                    </a>
                  </div>
                  <span class="featured-text">Cetaphil</span>
                </div>
                <div class="listing-content">
                  <div class="listing-features d-flex align-items-end justify-content-between">
                    <div class="list-rating">
                      <!-- <a href="javascript:void(0)" class="author-img">
                        <img src="assets/img/profiles/avatar-03.jpg" alt="author">
                      </a> -->
                      <h3 class="listing-title">
                        <a>Cetaphil Brightening Radiance Creamy Cleanser With</a>
                      </h3>
                      <div class="list-rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star"></i>
                        <span>(4.0) 150 Reviews</span>
                      </div>
                    </div>
                  </div>
                  <div class="listing-location-details">
                    <div class="listing-price">
                      <h5>₹651 </h5>
                      <p>₹700</p><span>(7% Off)</span>
                    </div>
                  </div>
                  <div class="listing-button">
                    <a class="btn btn-order"><span><i class="fa-solid fa-bag-shopping"></i></span>Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="rental-car-item">
              <div class="listing-item pb-0">
                <a [routerLink]="routes.listingDetails">
                  <img src="assets/img/product/product-2.avif" class="img-fluid" alt="product" />
                </a>
                <div class="listing-content">
                  <div class="listing-features d-flex align-items-end justify-content-between">
                    <div class="list-rating">
                      <!-- <a href="javascript:void(0)" class="author-img">
                        <img src="assets/img/profiles/avatar-04.jpg" alt="author">
                      </a> -->
                      <h3 class="listing-title">
                        <a>Plum Simply Bright 2% Niacinamide Face Wash With</a>
                      </h3>
                      <div class="list-rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star"></i>
                        <span>(4.0) 138 Reviews</span>
                      </div>
                    </div>
                  </div>
                  <div class="listing-location-details">
                    <div class="listing-price">
                      <h5>₹269 </h5>
                      <p>₹299</p><span>(10% Off)</span>
                    </div>
                  </div>
                  <div class="listing-button">
                    <a class="btn btn-order"><span><i class="fa-solid fa-bag-shopping"></i></span>Add to Cart</a>
                  </div>
                </div>
                <div class="feature-text">
                  <span class="bg-danger">New</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="rental-car-item">
              <div class="listing-item pb-0">
                <div class="listing-img">
                  <a [routerLink]="routes.listingDetails">
                    <img src="assets/img/product/product-3.avif" class="img-fluid" alt="product" />
                  </a>
                  <div class="fav-item justify-content-end">
                    <a href="javascript:void(0)" class="fav-icon">
                      <i class="feather icon-heart"></i>
                    </a>
                  </div>
                  <span class="featured-text">Simple</span>
                </div>
                <div class="listing-content">
                  <div class="listing-features d-flex align-items-end justify-content-between">
                    <div class="list-rating">
                      <!-- <a href="javascript:void(0)" class="author-img">
                        <img src="assets/img/profiles/avatar-04.jpg" alt="author">
                      </a> -->
                      <h3 class="listing-title">
                        <a>Simple Kind To Skin Refreshing Facial Wash</a>
                      </h3>
                      <div class="list-rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star"></i>
                        <span>(4.0) 160 Reviews</span>
                      </div>
                    </div>
  
                  </div>
  
                  <div class="listing-location-details">
                    <div class="listing-price">
                      <h5> ₹359 </h5>
                      <p>₹399</p><span>(10% Off)</span>
                    </div>
                  </div>
                  <div class="listing-button">
                    <a class="btn btn-order"><span><i class="fa-solid fa-bag-shopping"></i></span>Add to Cart</a>
                  </div>
                </div>
                <div class="feature-text">
                  <span class="bg-danger">New</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="rental-car-item">
              <div class="listing-item pb-0">
                <div class="listing-img">
                  <a [routerLink]="routes.listingDetails">
                    <img src="assets/img/product/product-4(1).jpg" class="img-fluid" alt="product" />
                  </a>
                  <div class="fav-item justify-content-end">
                    <a href="javascript:void(0)" class="fav-icon">
                      <i class="feather icon-heart"></i>
                    </a>
                  </div>
                  <span class="featured-text">Beauty of Joseon</span>
                </div>
                <div class="listing-content">
                  <div class="listing-features d-flex align-items-end justify-content-between">
                    <div class="list-rating">
                      <!-- <a href="javascript:void(0)" class="author-img">
                        <img src="assets/img/profiles/avatar-05.jpg" alt="author">
                      </a> -->
                      <h3 class="listing-title">
                        <a>Beauty of Joseon Green Plum Refreshing Cleanser</a>
                      </h3>
                      <div class="list-rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <span>(5.0) 200 Reviews</span>
                      </div>
                    </div>
  
                  </div>
  
                  <div class="listing-location-details">
                    <div class="listing-price">
                      <h5> ₹1080 </h5>
                    </div>
                  </div>
                  <div class="listing-button">
                    <a class="btn btn-order"><span><i class="fa-solid fa-bag-shopping"></i></span>Add to Cart</a>
                  </div>
                </div>
                <div class="feature-text">
                  <span class="bg-warning">Top Rated</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
