<footer class="footer">
    <div class="container-fluid">
        <div class="footer-top aos" data-aos="fade-down">
            <div class="container">
                <div class="row">
                  <div class="col-xl-4 col-lg-5 col-md-5 col-sm-9 col-12">
                        <div class="footer-contact footer-widget">
                            <a class="navbar-brand logo" ng-reflect-router-link="/home" href="/home">
                                <img src="assets/img/logo1.webp" width="170px" alt="Logo" class="img-fluid">
                            </a>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <span><i class="fa-solid fa-calendar-days"></i></span>
                                    <div class="addr-info">
                                        <a>Working Days/Hours: 24 Hours</a>
                                    </div>
                                </div>
                                <div class="footer-address">
                                    <span><i class="feather icon-phone-call"></i></span>
                                    <div class="addr-info">
                                        <a>+91 98101 40839 / Only Whatsapp</a>
                                    </div>
                                </div>
                                <div class="footer-address">
                                    <span><i class="feather icon-mail"></i></span>
                                    <div class="addr-info">
                                        <a href="mailto:hello@bellaluna.in">hello&#64;bellaluna.in</a>
                                    </div>
                                    <!-- <div class="addr-info">
                                        <a href="mailto:support@loche.in">support&#64;loche.in</a>
                                    </div> -->
                                </div>
                                <!-- <div class="update-form">
                                    <form action="#">
                                        <span><i class="feather icon-mail"></i></span>
                                        <input type="email" class="form-control" placeholder="Enter You Email Here">
                                        <button type="submit" class="btn btn-subscribe"><span><i
                                                    class="feather icon-send"></i></span></button>
                                    </form>
                                </div> -->
                            </div>
                            <div class="footer-social-widget">
                                <ul class="nav-social">
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=61563554862173"  target="_blank"><i
                                                class="fa-brands fa-facebook-f fa-facebook fi-icon"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/bellaluna_india/"  target="_blank"><i class="fab fa-instagram fi-icon"></i></a>
                                    </li>
                                    <!-- <li>
                                        <a href="javascript:void(0)"><i class="fab fa-behance fi-icon"></i></a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="javascript:void(0)"><i class="fab fa-twitter fi-icon"></i> </a>
                                    </li> -->
                                    <li>
                                        <a href="https://www.linkedin.com/in/billy-kim-6263b351/"  target="_blank"><i class="fab fa-linkedin fi-icon"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-2 col-sm-4 col-4">
                        <div class="footer-widget footer-menu">
                            <h5 class="footer-title">Company</h5>
                            <ul>
                                <li>
                                    <a [routerLink]="routes.aboutUs">About Us</a>
                                </li>
                                  <li>
                                    <a [routerLink]="routes.faq">FAQ’s</a>
                                </li>
                               
                               
                                <li>
                                    <a href="https://wholesale.bellaluna.in" target="_blank">B2B Partnership</a>
                                </li>

                              

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-5 ">
                        <div class="footer-widget footer-menu">
                            <h5 class="footer-title">Customer Care</h5>
                            <ul>

                                <!-- <li>
                                    <a href="javascript:void(0)">Rewards</a>
                                </li> -->
                                <!-- <li>
                                    <a [routerLink]="routes.ReturnCancellation">Cancellation & Return</a>
                                </li> -->
                                <!-- <li>
                                    <a href="javascript:void(0)">Track Shipment</a>
                                </li> -->
                                <li>
                                    <a [routerLink]="routes.termsCondition">Terms and Conditions</a>
                                </li>
                                <li>
                                    <a [routerLink]="routes.privacyPolicy">Privacy Policy</a>
                                </li>
                                 <li>
                                    <a [routerLink]="routes.contactUs">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-3">
                        <div class="footer-widget footer-menu">
                            <h5 class="footer-title">Quick links</h5>
                            <ul>
                                <!-- <li>
                                    <a href="javascript:void(0)">My Account</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Offer Zone</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Wishlist</a>
                                </li> -->
                                 <li>
                                    <a href="https://www.loche.in/work-with-us-2/" target="_blank">Careers</a>
                                </li>
                                <li>
                                    <a href="https://www.loche.in/influencer-platform/">Our Influencers </a>
                                </li>
                                <li>
                                    <a [routerLink]="routes.B2BSection" >Sell on Bellaluna</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="copyright-text">
                                <p>Copyright © 2024 Bellaluna.in. All Rights Reserved Powered By Loche India Private
                                    Limited
                                </p>
                            </div>
                        </div>
                        <!-- <div class="col-md-5">
                            <div class="copyright-menu">
                                <div class="vistors-details">
                                    <ul class="d-flex">
                                        <li><a href="javascript:void(0)"><img class="img-fluid"
                                                    src="assets/img/icons/paypal.svg" alt="Paypal"></a></li>
                                        <li><a href="javascript:void(0)"><img class="img-fluid"
                                                    src="assets/img/icons/visa.svg" alt="Visa"></a></li>
                                        <li><a href="javascript:void(0)"><img class="img-fluid"
                                                    src="assets/img/icons/master.svg" alt="Master"></a></li>
                                        <li><a href="javascript:void(0)"><img class="img-fluid"
                                                    src="assets/img/icons/applegpay.svg" alt="applegpay"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>