<div class="profile-container">
    <div class="profile-header">
        <div class="profile-card">
            <span class="edit-icon" (click)="openModal()" >
                <a class="edit-link"><i class="fa-solid fa-pen-to-square"></i></a> Edit
            </span>
            <img src="assets/img/profiles/female-avatar.webp" alt="user" class="profile-avatar">
            <div class="profile-info">
                <strong class="user-name">Shruti Pandey</strong>
                <div class="info-row">
                    <span class="label">Email: </span>
                    <span class="user-email">shrutipandey420gmail.com</span>
                    <span class="verified">Verified</span>
                </div>
                <div class="info-row"></div>
                <div class="info-row">
                    <span class="label">Date of Birth:</span>
                    <span class="user-dob">dd/mm/yyyy</span>
                </div>
            </div>
        </div>
    </div>
    <div class="address-section">
        <div class="address-header">
            <div class="address-title">
                <span class="home-icon">
                    <a width="20" height="19"><i class="fa-solid fa-house"></i></a>
                </span>MY ADDRESSES
            </div>
            <div class="add-address" (click)="editaddress()" >
                <a class="add-icon">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>ADD NEW ADDRESS
            </div>
        </div>
        <div class="address-list">
            <!-- Address Block 1 -->
            <div class="address-card">
                <div class="address-tag">Noida</div>
                <div class="address-name">Abhi </div>
                <div>noida sector, Noida - 201309, Uttar Pradesh</div>
                <div class="contact-info">
                    <div class="phone-number"> +91- 8723468746</div>
                </div>
                <div class="address-actions">
                    <div class="action-button">
                        <a class="action-icon">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>Edit
                    </div>
                    <div class="action-button">
                        <a class="action-icon">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>Remove
                    </div>
                </div>
            </div>

            <!-- Address Block 2 -->
            <div class="address-card">
                <div class="address-tag">Noida</div>
                <div class="address-name">abhipandey</div>
                <div>noida sector 63, Noida - 201301, Uttar Pradesh</div>
                <div class="contact-info">
                    <div class="phone-number"> +91- 6546464868</div>
                </div>
                <div class="address-actions">
                    <div class="action-button">
                        <a class="action-icon">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>Edit
                    </div>
                    <div class="action-button">
                        <a class="action-icon">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>Remove
                    </div>
                </div>
            </div>

            <!-- Address Block 3 -->
            <div class="address-card">
                <div class="address-tag">Noida</div>
                <div class="address-name">pandey</div>
                <div>noida sector 52, Noida - 201301, Uttar Pradesh</div>
                <div class="contact-info">
                    <div class="phone-number"> +91- 7645865875</div>
                </div>
                <div class="address-actions">
                    <div class="action-button">
                        <a class="action-icon">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>Edit
                    </div>
                    <div class="action-button">
                        <a class="action-icon">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>Remove
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
