.profile-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
}

.profile-header {
    background: gainsboro;
    background-image: linear-gradient(#8d8e95, #f4f4f4);
    padding: 1.5rem 0 1.5rem 1rem;
    height: 275px;
}

.profile-card {
    box-shadow: rgba(17, 19, 20, 0.12) 0px 2px 4px -2px, rgba(17, 19, 20, 0.12) 0px 2px 8px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.625rem;
    margin: 0 auto;
    border-radius: 90px 0 0 90px;
}

.edit-icon {
    cursor: pointer;
    position: absolute;
    border: 0px;
    display: flex;
    background: transparent;
    top: 30px;
    right: 40px;
    height: 14px;
    font-size: 14px;
    width: 14px;
    z-index: 2;
}
.edit-link i {
    padding-right: 5px;
}

.profile-avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-right: 1.25rem;
}

.profile-info {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 19, 37, 0.64);
}

.user-name {
    color: rgb(0, 19, 37);
    text-transform: capitalize;
    padding-bottom: 0.25rem;
}

.info-row {
    align-items: center;
    font-size: 16px;
    // display: flex;
}

.label {
    font-weight: 500;
}
span.user-dob {
    margin-left: 5px;
    font-weight: 400;
}


.address-section {
    box-shadow: rgba(17, 19, 20, 0.12) 0px 2px 4px -2px, rgba(17, 19, 20, 0.12) 0px 2px 8px;
    background-color: white;
    padding: 4rem 1.25rem 2rem;
}

.address-header {
    display: flex;
    justify-content: space-between;
}

.address-title {
    font-size: 16px;
    font-weight: 600;
    color: rgb(38, 43, 47);
    text-transform: uppercase;
    display: flex;
}

.home-icon {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.add-address {
    display: flex;
    align-items: center;
    color: rgba(0, 19, 37, 0.64);
    cursor: pointer;
}

.add-icon {
    color: grey;
    height: 24px;
    width: 20px;
}

.address-list {
    border-bottom: 1px solid rgb(218, 222, 226);
    overflow-x: auto;
    padding-left: 0.125rem;
    white-space: nowrap;
    margin-right: -1.25rem;
}

.address-card {
    display: inline-block;
    font-size: 16px;
    padding: 1.25rem;
    margin: 1rem 1.25rem 1.5rem 0;
    box-shadow: rgba(17, 19, 20, 0.12) 0px 2px 4px -2px, rgba(17, 19, 20, 0.12) 0px 2px 8px;
    width: 340px;
    vertical-align: middle;
    background: white;
    position: relative;
    white-space: normal;
    border-radius: 2px;
}

.address-tag {
    background: rgb(38, 43, 47);
    color: white;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.625rem;
    display: inline-block;
}

.address-name,
.phone-number {
    font-weight: 600;
    color: rgb(38, 43, 47);
}

.contact-info {
    padding-top: 0.5rem;
}

.address-actions {
    display: flex;
    justify-content: flex-end;
    color: rgba(0, 19, 37, 0.64);
    cursor: pointer;
}

.action-button {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.action-icon {
    color: gray;
    margin-right: 4px;
}
 @media (min-width: 676.98px) {
 .mobile-hide{
        display: none;
        
    }
    .verified {
    position: relative;
    float: inline-end;
    right: 0px;
    top: 0;
    color: rgb(6, 135, 67);
    font-size: 12px;
}
 }
@media (max-width: 676.98px) {
    .mobile-hide{
           height: 24px;
        margin-left: 5px;
    }
    .profile-avatar {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    .user-name,
    .label {
        font-size: 12px;
    }

    .user-email {
        font-size: 12px;
        // width: 72%;
        width: 170px;
    }

    .info-row {
        font-size: 13px;
    }

    .profile-header {
        height: 155px;
    }

    .address-title,
    .add-address {
        font-size: 12px;
    }

    .address-card {
        font-size: 13px;
        min-width: 315px;
    }
    .user-email {
    min-width: 65%;
     margin-left: 5px;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
}

.verified {
    display: none;

}
}
@media (max-width: 676.98px) {
    .profile-header {
    background: gainsboro;
    background-image: linear-gradient(#8d8e95, #f4f4f4);
    padding: 0px;
    height: 100px;
}
.profile-card {
    border-radius: 0px;
}
.edit-icon {
    top: 3px;
}
    .profile-avatar{
        width: 60px;
        height: 60px;
        margin-right: 6px;
    }
}
