.header-top-drpodowns {
    .header-dropdown {
        &.country-flag {
            margin-top: 0px;
            img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                border-radius: 50%;
            }
            a {
                color: $__white;
                font-size: $__font__size__14;
                &.dropdown-toggle {
                    background: transparent;
                    border: 1px solid $__blue__light;
                    border-radius: 10pxpx;
                    display: inline-flex;
                    align-items: center;
                }
            }
            .dropdown-menu {
                padding: 10px;
                a {
                    padding: 5px 10px;
                    border-radius: 10px;
                    color: $__black-gray;
                    &:hover {
                        background: #F8FAFC;
                    }
                }
            }
        }
    }
}
.header-dropdown {
	.dropdown-menu {
		border-color: #E2E8F0;
	}
	.dropdown-toggle {
		padding: 5px 10px 5px 5px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		color: #64748B;
        position: relative;
		&::after {
            content: "";
			border-width: 0 2px 2px 0;
			border-color: $__white;
			padding: 3px;
			transform: rotate(45deg) translateY(-50%);
			-webkit-transform: rotate(45deg) translateY(-50%);
			-ms-transform: rotate(45deg) translateY(-50%);
			border-style: solid;
			margin-left: 10px;
            display: inline-block;
		}
		&.show {
			&::after {
                content: "";
				border-width: 2px 0 0 2px;
				position: relative;
				top: 3px;
			}
		}
		&.nav-tog {
			padding: 5px 15px 5px 12px;
		}
	}
	.dropdown-menu {
		padding: 10px;
		a {
			padding: 5px 10px;
			border-radius: 10px;
            color: $__black-gray;
			&:hover {
				background: #F8FAFC;
			}
		}
	}
}
.hero-sec-main {
    .header-two {
        background: transparent;
        box-shadow: none;
        &.header-fixed {
            background: #0A152F;
            position: fixed;
            z-index: 999;
            .header-two-top {
                display: none;
            }
        }
        .header-two-top {
            padding: 10px;
            border-bottom: 1px solid #676767;
            @include respond-below(custom991) {
                display: none;
            }
            .header-top-items {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header-address {
                    display: flex;
                    align-items: center;
                    li {
                        color: $__white;
                        font-size: $__font__size__14;
                        margin-right: 15px;
                        &:last-child {
                            margin-right: 0;
                        }
                        span {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .header-nav {
            padding: 0;
            .main-nav {
                >li {
                    a {
                        color: $__white;
                        font-weight: $__normal;
                        &.active {
                            color: $__primarycolor;
                        }
                    }
                    &.active {
                        >a {
                            color: $__primarycolor;
                        }
                    }
                }
            }
            .header-navbar-rht {
                .login-link {
                    padding: 0;
                    font-weight: $__medium;
                    color: $__white;
                    &:hover {
                        color: $__primarycolor;
                    }
                }
            }
        }
    }
    .banner-slider {
        background-image: none;
        padding: 70px 0;
        height: 660px;
        @include respond-below(custom991) {
            height: 100%;
            background: transparent;
            padding: 50px 0;
            padding-bottom: 150px;
        }
    }
}
.header-top-social-links {
    ul {
        display: flex;
        align-items: center;
        padding-left: 15px;
        margin-left: 20px;
        border-left: 1px solid $__blue__light;
        li {
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $__light__vampire;
                font-size: 15px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;  
                &:hover {
                    i {
                        color: $__primarycolor;
                        transition: 0.5s all;
                    }
                    color: $__primarycolor;
                }
                i {
                    color: $__light__vampire;
                    background: transparent;
                    transition: 0.5s all;
                }
            }
        }
    }
}

//---------------------------- new big nave css -----------------------------//
.header-two{

.nav-area {
    .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fc2779;
        transition: width 0.3s;
    }

    .nav-link:hover::after {
        width: 50%;
        margin: 0 auto;
    }

    li.add-border:hover {
        // background: #f7f7f7;
        border-bottom: 3px solid #eb0766;
    }
}

.header-nav {
    position: relative;
}

.nav-area {
    position: absolute;
}

.nav-area .nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    // gap: 30px;
}

.nav-item>a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 24px 7px;
    white-space: nowrap;
    display: inline-block;
}

.mega-menu {
    position: absolute;
    top: 100%;
    width: 1114px;
    left: -155px;
    height: 525px;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: start;
    gap: 0px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 999;
    justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
    .mega-menu {
        width: 1114px;
        left: -195px;
    }
}

@media only screen and (max-width: 1120px) {
    .mega-menu {
        width: 996px;
        left: -190px;
    }
}

.mega-menu .mega-column {
    flex: 1;
    min-width: 100px;
}

.nav-item:hover .mega-menu {
    display: flex;
}

.allBrandssearch {
    width: 360px;
    float: left;
    border-right: 1px dashed black;
    background: #fff;
    border-bottom-left-radius: 3px;
}

.search-name-sec {
    padding: 20px;
    .input-group .form-control {
        background-color: #ffffff;
        padding-left: 36px;
        border-radius: 50px;
    }
}

.brandSearchMain {
    width: 320px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    border-radius: 2px;
    border: solid 1px rgba(151, 151, 151, 0.4);
    position: relative;
}

.input-group-prepend {
    color: #737373;
    pointer-events: none;
    z-index: 4;
    position: absolute;
    top: 7px;
    bottom: 0;
    left: 15px;
}

.brand-list-sec {
    padding-left: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: calc(85% - 10px);
}

.brand-list-container {
    width: 295px;
    height: 430px;
    overflow: auto;
}

.brand-name-container {
    overflow: auto;
}

.brand-full-name {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    left: -18px;
    z-index: 1;
}

.top-brand-content {
    height: 100%;
    width: 100%;
    padding-right: 18px;
    position: relative;
    right: -18px;
    overflow-y: auto;
    overflow-x: hidden;
}

.brand-letter {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(3, 2, 26, 0.6);
    text-transform: uppercase;
    margin-bottom: 0px;
    height: 25px;
    position: relative;
    border-bottom: none;
}

.brand-name a {
    font-size: 15px;
    color: #161616;
}

.brand-name a:hover {
    color: $__primarycolor;
}

.brand-name {
    line-height: 25px;
    position: relative;
}

.brands-name-Sorting {
    position: relative;
    width: 50px;
    text-align: center;
}

li.Nav-item {
    line-height: 10px;
}

.brand-latters {
    color: rgba(3, 2, 26, 0.6);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    -webkit-letter-spacing: 0;
    -moz-letter-spacing: 0;
    -ms-letter-spacing: 0;
    letter-spacing: 0;
}

.brand-latters:hover {
    font-size: 15px;
    font-weight: 600;
    padding: 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: rgba(247, 31, 114, 0.6);
    text-align: center;
    border-radius: 25px;
}

// --------------------------Brand section two--------------------//
.nav-area {
    .brandsCategoryBox {
    width: 68.4%;
    height: 100%;
    float: right;
    border-left: 1px dashed gray;
    background-color: #fbfbfb;
    border-bottom-right-radius: 3px;
    }

    .BrandsCategoryHeading {
        margin: 4% auto 1%;
        text-align: center;
    }

    .BrandsnameWrapper {
        margin: 0 auto;
        text-align: center;
    }

    .BrandsnameWrapper ul li.brand-logo {
        width: 170px !important;
        height: 35px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto 4%;
    }

    ul.HeaderNav li>a {
        display: block;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        color: #03021a;
        margin: 0 auto;
    }

    .css-f7ogli li a {
        cursor: pointer;
        -webkit-text-decoration: none;
        text-decoration: none;
    }

    li.brand-logo a .brand-only-b {
        height: 70px;
    }

    .tab-btn {
        height: 36px;
        border: none;
        font-weight: 600;
        font-size: 14px;
        border-radius: 24px;
        text-align: center;
        color: rgba(3, 2, 26, 0.8);
        text-transform: uppercase;
        background-color: #d8d8d8;
        display: inline-block;
        margin: 0 8px;
        padding: 5px 20px;
        margin-right: 10px;
        border: 1px solid transparent;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .tab-btn:hover {
        border: 1px solid #fc2779;
        background-color: #fff8fb;
        color: rgb(31, 31, 31);
        transform: scale(1.05);
    }

    .tab-btn.active {
        background-color: #fc2779;
        color: white;
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .tab-btn::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fc2779;
        transition: width 0.3s;
    }

    .tab-btn:hover::after {
        width: 80%;
        margin: 0 auto;
    }

    li.add-border:hover {
        // background: #f7f7f7;
        border-bottom: 3px solid #eb0766;
    }
}

.tab-content {
    margin-top: 15px;
    // box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

//   ------------------------------LUXE section-------------------------------//
.nav-area{
    .categories-content {
    border-top: 1px solid #d8d8d8;
}
.product-type-name {
    margin-bottom: 20px;
}
    .Luxe-section {
        margin-top: 20px;
        width: 100%;
    }
    
    .bgWhite {
        background-color: #ffffff00;
    }
    
    .bgGrey {
        background-color: #f7f7f7;
        border-left: 1px solid #bfbfbf;
        border-right: 1px solid #e7e7e7;
    }
    .coming-soon{
    .categories-contener-box {
        width: 190px;
        min-height: 442px;
        float: left;
        padding: 12px;
        text-align: left;
    }
    }
  
  
    .skin-care{
          .categories-contener-box {
        width: 190px;
        min-height: 522px;
        float: left;
        padding: 12px;
        text-align: left;
    }
    }
    
    .product-type-name li a {
        color: #666666;
        font-size: 14px;
        font-weight: 500;
    }
    
    .product-type-name li:hover>a {
        color: #fc2779;
    }
    
    .categories-heading a {
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 25px;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(3, 2, 26, 0.8) !important;
    position: relative;
    }
    
    .megaDropdown ul>li a {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
        margin: 2% auto;
        display: block;
        color: rgba(3, 2, 26, 0.5);
        text-transform: capitalize;
    }
    
    .Luxe-section {
        .nav-tabs {
            border: none;
            justify-content: center;
        }
    
        .nav-tabs .nav-link {
            border: none;
            border-radius: 50px;
            margin: 0 5px;
            color: #6c757d;
            background-color: #fff;
            padding: 10px 20px;
            font-size: 13px !important;
            font-weight: 500;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
            transition: all 0.3s ease;
        }
    
        .nav-tabs .nav-link.active {
            font-size: 14px !important;
            font-weight: 600;
            box-shadow: 0 6px 12px #ffb8d1;
        }
    
        .tab-pane {
            animation: fadein 0.5s ease;
        }
    
        @keyframes fadein {
            from {
                opacity: 0;
            }
    
            to {
                opacity: 1;
            }
        }
    }
}

//  ----------------------------- advice section---------------//
.mega-advice-sec {
    position: absolute;
    top: 100%;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: start;
    gap: 0px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 999;
    justify-content: space-between;
}

.mega-advice-sec .mega-column {
    flex: 1;
    min-width: 100px;
}

.nav-item:hover .mega-advice-sec {
    display: flex;
    padding: 15px 25px;
    border-radius: 0px 0px 15px 15px;
}

a.BeautyAdvicesec {
    width: 240px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 15px;
    text-align: left;
}

a.BeautyAdvicesec .beautyadvicetext1 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: rgba(3, 2, 26, 0.8);
    text-transform: uppercase;
    line-height: 20px;
    padding-top: 7px;
}

a.BeautyAdvicesec .beautyadvicetext2 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    color: rgba(4, 1, 20, 0.6);
    text-transform: capitalize;
    line-height: 16px;
}

.BeautyAdvicesec .beautyadvicetext1,
.BeautyAdvicesec .beautyadvicetext2 {
    transition: color 0.3s ease;
}

.BeautyAdvicesec img {
    width: 100%;
    height: 150px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    border-radius: 8px;
}

.mega-column a:hover img {
    border: 2px solid #fc2779;
}

.BeautyAdvicesec:hover .beautyadvicetext1,
.BeautyAdvicesec:hover .beautyadvicetext2 {
    color: #fc2779;
}

//  ------ end advice section---------------//
p.brand-text {
    font-size: 27px;
    font-weight: 700;
    line-height: 25px;
    font-style: italic;
    padding-top: 10px;
    color: #ab47d3;
}
.btn-new-launches {
    padding: 15px;
}
}
